button.btn.btn-default(type="button", 
                       ng-style="stylebtn", 
					   ng-class="{'btn-xs':size==='default', 'btn-sm': size==='large', 'btn-lg': size==='largest'}",
					   ng-click="checkCtrl.click()")
    span.glyphicon(ng-style="styleicon", 
	               ng-class="{'glyphicon-ok': checked===true}")